.wishlist-engine.wishlist_icon_pdp .wishlist-engine-button{
  padding: unset;
  background: unset;
}

.product-info__block-item[data-block-type="@app"],.product-info__block-item[data-block-type="variant-picker"],.product-info__block-item[data-block-type="description"]{
  margin-block-end:0.5rem;
  margin-block-start:0.5rem;
}
.product-info__block-item[data-block-type="offers"]{
  margin-block-end:0.5rem;
}
.product-info__block-item[data-block-type="buy-buttons"]{
  --product-info-gap: 1rem;
} 
.product-gallery__media.snap-center{
  display: flex;
    justify-content: center;
    align-items: center;
}
.product-gallery__media.snap-center img{
width: 70%;
height: auto;
object-fit: contain; 
} 
.product-info__block-item[data-block-type="description"] .prose ul {
    list-style-type: decimal;
}
 .product-info__block-item[data-block-type="description"] .prose :is(ol,ul) br,.product-info__block-item[data-block-type="description"] .prose p br {
    display:none;
}
.product-info__block-item[data-block-type="description"] .prose :is(ol,ul,span),.product-info__block-item[data-block-type="description"] .prose p { font-size: clamp(12px, 2vw, 14px);}
.product-info__block-item[data-block-type="description"] .prose :is(ol, ul) {
    row-gap: 1.4em;}
 .product-info__block-item[data-block-type="description"] .prose :is(ol,ul) li strong,.product-info__block-item[data-block-type="description"] .prose :is(ol,ul) li::marker,.product-info__block-item[data-block-type="description"] .prose p strong{
   color:#000;
  
 }
.product-info__block-item[data-block-type="description"] .prose p strong{
  margin:5px 0px;
  display: inline-block;
}
.item_remove_icon{
  background:unset;
}
.button.w-full[name="checkout"]{
  background:#000;
  border:0.8px solid #000;
}
.collection .product-list[collection-desktop-layout="medium"] .product-card__quick-add-button.cstm_card_design{
  padding: 11px 7px;
}


.slider_arrow_pdp .tap-area[disabled] svg path {
  stroke: #E0DADA !important;
}
.quick-buy-modal #cstm_product_gallery__thumbnail-scroller{
  display:none;
}
.product_btn_custom_buy .custom_product_add_button .shopify-payment-button{
display:none !important;} 
.buynowBtn__d .button{
  display:none;
}

.shopify-payment-button__button.shopify-payment-button__button--unbranded:hover::before {
  background-color: #000; 
  color: #fff; 
 
}

.buynowBtn__d  button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    background: #fff;
    color: #000;
    font-family: Segoe UI;
    font-weight: 700;
    font-size: 0px;
  text-transform:unset;
}

button.shopify-payment-button__button.shopify-payment-button__button--unbranded:before {
    content: "Buy it Now";
     font-family: Segoe UI;
     font-size: clamp(15px, 2vw, 18px);
    display: block;
    width: 100%;
    padding: 16px 0px;
    border: .8px solid #4d4d4d; 
    margin: 10px 0px;
    border-radius: 4px;
    z-index: 5;
    position: relative;
}
#facets-drawer  .button:before{
   content: "Veiw Result";
   font-size: clamp(15px, 2vw, 18px);
  font-family: Segoe UI;
  text-transform: capitalize;
  font-weight: 700;
}
#facets-drawer .button{
  font-size:0px;
}
carousel-navigation.product-gallery__thumbnail-scroller.md\:unbleed {
    display: none;
}
.footer__block.footer__block--newsletter .v-stack .form .align-self-start .button,#contact_form .button{
  font-size:0px;
}
.footer__block.footer__block--newsletter .v-stack .form .align-self-start .button,.featured-collections-carousel__item .justify-self-center .button{
  border:unset;
  text-transform: capitalize;
}
.featured-collections-carousel__item .justify-self-center .button{
  border-radius:4px;
}

.footer__block.footer__block--newsletter .v-stack .form .align-self-start .button:before{
    content: "Subscribe";
     text-transform: var(--button-text-transform);
    font: var(--button-font);
    letter-spacing: var(--button-letter-spacing);
}
#contact_form .button:before{
    content: "Contact";
     text-transform: var(--button-text-transform);
    font: var(--button-font);
    letter-spacing: var(--button-letter-spacing);
}
.carousel-navigation_mobile span {
    background: #DCDCDC;
    height: 3px;
    display: block;
    /* width: 46px; */
    /* margin-left:7px; */
}

.carousel-navigation_mobile[aria-current="true"] span {
    background: #000;
    width:50px;
}

.product-gallery__image-list .contents .product-gallery__carousel {
    grid: var(--product-gallery-carousel-grid, auto / auto-flow 100%);
}

.slider_arrow_pdp {
    text-align: center;
}

.product-gallery__thumbnail-list.thumnails__custom .product-gallery__thumbnail-scroller .product-gallery__thumbnail {
    display: block;
    margin: auto;
}

.product-gallery__thumbnail-list.thumnails__custom .product-gallery__thumbnail-scroller .product-gallery__thumbnail img {
    width: 110px;
    height: auto;
    object-fit: contain;
    border: 1px solid #f8f0f0;
}

.product-gallery__thumbnail-scroller {
    grid-auto-columns: 110px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.product-gallery__thumbnail-list.thumnails__custom .product .product-gallery {
    width: 100%;

}

.product-gallery__image-list {
    width: 80%;
}

.wishlist-engine-button .wishlist-icon svg,
.wishlist-p-right p {
    display: none !important;
}

.wishlist-engine[data-added="true"] span.wishlist-icon:before {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2221%22%20viewBox%3D%220%200%2024%2021%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.395%203.13657L12.0001%203.96236L12.6051%203.13646C13.6662%201.68777%2015.401%200.750022%2017.3684%200.750022C18.9325%200.750022%2020.43%201.36065%2021.532%202.44347C22.6336%203.52586%2023.25%204.99105%2023.25%206.51597C23.25%208.10036%2022.5959%209.52578%2021.5276%2010.5871C21.5271%2010.5875%2021.5267%2010.5879%2021.5263%2010.5884L12%2019.9485L2.4737%2010.5884C2.47326%2010.5879%202.47282%2010.5875%202.47237%2010.587C1.40411%209.52572%200.75%208.10033%200.75%206.51597C0.75%204.99105%201.3664%203.52586%202.46799%202.44347C3.57003%201.36065%205.06747%200.750022%206.63158%200.750025L6.63352%200.75002C7.56482%200.747614%208.48275%200.963452%209.31103%201.37899C10.1393%201.7945%2010.8534%202.39738%2011.395%203.13657Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22/%3E%3C/svg%3E");
}

.wishlist-engine[data-added="false"] span.wishlist-icon:before {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2221%22%20viewBox%3D%220%200%2024%2021%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.395%203.13657L12.0001%203.96236L12.6051%203.13646C13.6662%201.68777%2015.401%200.750022%2017.3684%200.750022C18.9325%200.750022%2020.43%201.36065%2021.532%202.44347C22.6336%203.52586%2023.25%204.99105%2023.25%206.51597C23.25%208.10027%2022.5959%209.52562%2021.5277%2010.5869C21.5273%2010.5874%2021.5268%2010.5879%2021.5263%2010.5884L12%2019.9485L2.4737%2010.5884C2.47325%2010.5879%202.4728%2010.5875%202.47235%2010.587C1.4041%209.5257%200.75%208.10032%200.75%206.51597C0.75%204.99105%201.3664%203.52586%202.46799%202.44347C3.57003%201.36065%205.06747%200.750022%206.63158%200.750025L6.63352%200.75002C7.56482%200.747614%208.48275%200.963452%209.31103%201.37899C10.1393%201.7945%2010.8534%202.39738%2011.395%203.13657Z%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22/%3E%3C/svg%3E");
}

.collection__main product-list[collection-desktop-layout="medium"] .color-swatch {
    width: 23px;
    height: 23px;
}

.collection-toolbar__button[value="compact"] {
    display: none;
}

.featured-collections-carousel .product-list.product-list--carousel {
    --product-list-default-row-gap: 9rem;
    --product-list-default-column-gap: 6.75rem;
}

.section-stack.custom_featured_collection .featured-collections-carousel {
    width: 80%;
    margin: auto;
}

.featured-collections-carousel .featured-collections-carousel__item .product-list .product-card .product-card__info .swatches_color_shades_count:has(.swiper-initialized) {
    width: 42%;
    margin: 6px 0px 0px 20px;
}

.product-list .product-card .swatches_color_shades_count .swiper.color__swatches_slider .gap-4 {
    gap: 0.5rem;
}

.product-info__block-list .product-info__block-item .jdgm-prev-badge__text {
    text-decoration: underline;
    text-transform: capitalize;
}

#insta-feed h2::after {
    content: "Tag us while you slay the looks.";
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: clamp(17px, 2vw, 20px);
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    color: #666;
}

#insta-feed h2 {
    font-size: clamp(25px, 2vw, 50px);
}

.product-list[collection-desktop-layout="compact"] .product-card__quick-add-button.cstm_card_design {
    display: unset !important;
    padding: 1px 11px;

}

#insta-feed h2 {
    font-size: clamp(21px, 2vw, 50px);
}

.section-stack.collection__list_info .section-header.justify-self-center.text-center {
    width: 100%;
    border-bottom: 1px solid #DCD9D9;
    padding-bottom: 10px;
}

.section-stack.collection__list_info .section-header {
    max-width: unset;
}

.product-card__quick-add-button.add-to-cart-custom:hover,
.custom_design_collectioncard .button:hover,
.product-card__quick-add-button.cstm_card_design:hover,
.product-card__quick-add-button.cstm_card_design:hover .text-on-sale {
    background: #000 !important;
    color: #fff;
}

.custom_rich_text_design div h2 {
    color: #7A7A7A;
    font-size: clamp(24px, 2vw, 80px);
    font-family: Segoe UI;
}

.custom_rich_text_design p.h6 {
    color: #AFAFAF;
    font-size: clamp(12px, 2vw, 32px);
    font-family: Segoe UI;
}

.product-offers__item.snap-center .prose :is(ol, ul) {
    row-gap: unset;
}

.product_btn_custom_buy .quantity-selector {
    border-width: unset;
    border: unset;
    /* width: 20%; */
    grid-auto-rows: unset;
    justify-content: center;
}

.buy-buttons .buy-buttons {
    border: none;
}

.swatches_color_main .gap-4 {
    gap: 0.3rem;
}

.mobile_view_rating .empty_star {
    min-height: 45px;
}

.mobile_view_rating {
    display: none;
}
.swiper.color__swatches_slider{
  padding:2px;
}
/* .swiper.color__swatches_slider :checked+.color-swatch {
    border: 0.5px solid #000000;
    box-shadow: 0px 0px 5px #fff inset;
    border-color: rgb(130 121 121);
} */

.product-card__info .v-stack.justify-items-center.gap-2.cstm_height {
    min-height: 100px;
}

span.product_v_sizes {
    color: #1F1F1F;
    font-size: 14px;
    line-height: normal;
}

.product-info__block-item .wishlist-engine.wishlist_icon_pdp {
    float: inline-end;

}

.product-card__figure .wishlist-engine-button .wishlist-icon svg {
    width: 24px;
    height: 21px;
    stroke-width: 1.5px;
}

.product-info__block-item .wishlist-engine.wishlist_icon_pdp .wishlist-icon svg {
    width: 26px;
    height: 23px;
    stroke-width: 1.5px;
}

.product-card__figure .wishlist-engine {
    position: absolute;
    bottom: 0px;
    left: 92%;
    transform: translate(-50%);
    /* z-index: 10; */
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.product-offers__item .prose ul li {
    color: #1f1f1f;
    font-family: "Roboto", sans-serif;
    font-size: clamp(12px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;

}

.product .product-gallery {
    position: sticky;
    top: 160px;
    display: flex;
    gap: 18px;
    justify-content: left;
}

.variant-picker__option-info variant-option-value {
    color: #1f1f1f;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.product_type_pdp {
    color: #1F1F1F;
    font-family: "Roboto", sans-serif;
    font-size: clamp(17px, 2vw, 24px);
    font-weight: 400;
    line-height: 28.13px;
    margin: 8px 0px;
    text-transform: lowercase;
}

#product-offers-offers_AVEWGR .product-offers__item .h6 {
    font-family: Segoe UI;
     font-size: clamp(13px, 2vw, 15px);
    font-weight: 700;
    line-height: 26.6px;
}

.swatches_color_shades_count:has(.swiper-initialized) {
    width: 50%;
    margin: 8px 20px;
}

.swatches_color_shades_count {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    align-items: center;
    text-align: center;
}

.product_type_pdp {
    font-weight: 400;
}

.swatches_color_shades_count:has(.swiper-initialized) {
    gap: 2rem;
}

.swatches_color_shades_count:has(.swiper-initialized) .swatches_color_main {
    width: 100%;
}

.text-subdued.line-through.compare_price_design {
    font-size: 18px;
}

.text-subdued.line-through.compare_price_design,
.jdgm-prev-badge__text {
    position: relative;
    left: 5px;
}

.product-info__block-item .prose {
    overflow-wrap: anywhere;
    color: #818181;
    font-size: 16px;
}

.color__swatches_slider {
    width: max-content;
    display: flex;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.swiper-slide {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: #d2c9c9;
    z-index: 1;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swatches_color_main {
    position: relative;
    width: max-content;
    height: 100%;
    margin: auto 0;
}

.product-card__info .swiper-button-next:after,
.product-card__info .swiper-button-prev:after {
    font-size: 0;
}

.product-card__info .swiper-button-next,
.product-card__info .swiper-button-prev {
    top: 2px;
    z-index: 1;
}

.swaches_count_shade {}

.swatch_arrows {
    position: relative;
}

.custom_featured_collection .h2,
.section-stack.custom_featured_collection .custom_para_featured_collection,
.collection__list_info .prose .h2 {
    font-size: clamp(21px, 2vw, 50px);
}

.buy__now_it_btn {
    width: 100%;
    border: 1px solid #000;
    margin: 10px 0px;
    padding: 10px;
    font-family: Segoe UI;
    font-weight: 700;
    font-size: clamp(15px, 2vw, 20px);
}

.collection__list_info .prose .h2 {
    font-family: Segoe UI;
    font-weight: 700;
}

.featured_collections_btn_main {
    width: 100%;
    border-bottom: 1px solid #dcd9d9;
}

product-recommendations .prose .h2,
recently-viewed-products .prose .h2 {
    font-family: Segoe UI;
    font-size: 38px;
    font-weight: 700;
}

product-sticky-bar .buy-buttons .button {
    background: #000;
    border: none;
}

button.button.button--outline.w-full {
    background: #000;
    color: #fff;
    font-family: Segoe UI;
    font-weight: 700;
   font-size: clamp(15px, 2vw, 18px);
    letter-spacing: 0;
    text-transform: unset;
    border: unset;
}

.text-on-sale.sale-price-productpage {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.text-subdued.line-through.compare_price_design {
    color: #807e7e;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.buy__now_it_btn {
    width: 100%;
    border: 1px solid;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 4px;
    border: 0.8px solid #4d4d4d;
}

quantity-selector .quantity-selector {
    border-radius: 4px !important;
    border: 0.8px solid #4d4d4d !important;
}

span.discount-code-pdp {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 6px 18px;
    background: #f8f4f6;
    border-radius: 2px;
    font-weight: 700;
}

.product-info__block-item .product-title {
    color: #000;
    text-transform: capitalize;
    font-family: Segoe UI;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 0.7rem;
}

.product-info__block-item .product_btn_custom_buy {
    display: flex;
    border-radius: 4px;
    border: .8px solid #4d4d4d;
    width: 100%;
    flex-direction: row;
}

.custom_product_add_button {
    width: 100%;
}



button.product-card__quick-add-button.cstm_card_design.sold__out {
    cursor: not-allowed;
}

.product-card__image {
    aspect-ratio: 1;
}

.color-swatch.is-selected {
    border: 0.5px solid #000;
}

.product-card__info {
    min-height: 10rem;
}

.collection-card .custom_design_collectioncard .button {
    border: 0.8px solid #4d4d4d;
}

.collection-card .custom_design_collectioncard,
.collection-card .custom_design_collectioncard .button {
    width: 100%;
    border-color: unset;
    border-radius: 5px;
    padding: 10px 0;
    background: unset;
    text-transform: unset;
    font-weight: 600;
    letter-spacing: 0;
}

.product-card .badge--on-sale {
    border-radius: 2px;
    background: #f8f4f6;
    color: #000;
    text-transform: capitalize;
    font-family: Roboto;
    font-size: 1rem;
    padding: 7px 16px;
    font-style: normal;
    /* font-weight: 700; */
    letter-spacing: 0;
    line-height: normal;
}

.product-card__quick-add-button.cstm_card_design {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    background: #fff;
    color: #000000;
    border: 0.8px solid #4D4D4D;
    border-radius: 5px;
    justify-content: space-between;
}

.product-card form {
    width: 100%;
}

.cstm_card_design .text-on-sale {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-right: 6px;
    font-family: "Roboto", sans-serif;
}

compare-at-price.text-subdued {
    color: #656565;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

.product_button_with-price {
    font-family: Segoe UI;
    font-weight: 700;
    white-space: nowrap;
}

.swatch-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #ffffff;
}

.swatch-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #eaeaea;
}

.swatch-item:last-child {
    border-bottom: none;
}

.swatch-name {
    font-size: 16px;
    color: #333;
}

.swatch-color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-shade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    width: 100%;
}

.dropdown-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.dropdown-arrow {
    font-size: 18px;
    color: #333;
    transition: transform 0.3s ease;
}

.swatch-list {
    display: none;
}

.prose.text-center.custom_rich_text_design {
    text-align: left;
    color: #7a7a7a;
    font-family: "Roboto", sans-serif;
    font-size: clamp(80px, 2vw, 32px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section-stack.custom_featured_collection .custom_featured_h {
    color: #535353;
    font-family: "Roboto";
    font-size: 18px;
    padding: 10px 60px;
    letter-spacing: 0;
    text-transform: uppercase;
}

button.h2.custom_featured_h[aria-current="true"] {
    font-weight: 600;
}

.section-stack.custom_featured_collection .custom_para_featured_collection {
    color: #000;
    text-align: center;
    font-family: Segoe UI;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    word-spacing: 6px;
    text-transform: capitalize;
}

product-recommendations .prose .h2,
recently-viewed-products .prose .h2 {
    letter-spacing: normal;
}

cart-drawer compare-at-price.h6.text-subdued.line-through {
    position: relative;
    left: 6px;
}

button.h2.custom_featured_h[aria-current="true"] {
    color: #000;
}


.mobile_veiw_rating {
    display: none;
}

/* product-recommendations .swatch_value_span,
recently-viewed-products .swatch_value_span {
    display: none;
} */

@media (max-width: 767px) {
  .variants__swatches_slider_main_outer {
    gap:14px;
  }
  .product-info__block-item[data-block-type="offers"]{
  margin-block-start:0.5rem;
} 
 .product-info__block-item[data-block-type=description] {
    margin-block-start: var(--product-info-gap);}
  .product-gallery__media.snap-center img {
     width: 100%;}
.variants__swatches_slider_main_outer .swiper-button-prev {
       left: -14px;
   }
  .variants__swatches_slider_main_outer .swiper-button-next {
       right: -14px;
   }
    .product-list .product-card .swatches_color_shades_count .swiper.color__swatches_slider .gap-4 {
        gap: 1rem;
    }

    .mobile_view_rating .empty_star {
        min-height: 32px;
    }

    .section-stack.custom_featured_collection {
        gap: 2rem;
    }

    .mobile_veiw_rating {
        display: block;
    }

    .section-stack.custom_featured_collection .featured-collections-carousel {
        width: 100%;
    }

    .desktop_veiw_rating {
        display: none;
    }

    .product .product-gallery {
        position: unset;
    }

    .quick-buy-modal.modal .quick-buy-modal__gallery-wrapper .price-list .h6 {
        font-size: unset;

    }

    .collection-list .collection-card {
        flex-basis: 45% !important;
    }

    fieldset.swiper-wrapper.h-stack.wrap.justify-center.gap-4 {
        gap: 0.6rem !important;
    }

    .section-stack.custom_featured_collection .custom_featured_h {
        font-size: 13px;
        padding: 8px 16px;
    }

    .product-card__quick-add-button {
        padding: 6px 10px;
    }

    .collection-list {
        gap: 10px;
        justify-content: space-evenly;
    }

    .swatches_color_shades_count:has(.swiper-initialized) {
        gap: 1.3rem;
        align-items: center;
        width: 40%;
        margin: 8px 16px;
    }

    .product-card__info .swiper-button-next,
    .product-card__info .swiper-button-prev {
        top: 7px !important;
        height: 10px !important;
        width: 7px !important;
    }

    .product-card__info .swiper-button-next {
        right: -14px !important;
    }

    .product-card__info .swiper-button-prev {
        left: -14px !important;
    }

    .product_button_with-price,
    compare-at-price.text-subdued,
    compare-at-price.text-subdued,
    .cstm_card_design .text-on-sale {
        font-size: 12px;
        line-height: normal;
    }

    compare-at-price.text-subdued {
        font-size: 11px;
    }

    .product-card__info {
        min-height: 9rem;
    }

    .product-info__block-item .product-title {
        font-size: 24px;
       margin-top: 0.8rem;
    }
    .product_type_pdp{
      margin: 5px 0px 8px 0;
    }
    .buynowBtn__d button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
     height: 70px;
    }
    product-recommendations .prose .h2,
    recently-viewed-products .prose .h2 {
        font-size: 21px;
    }

    .product-sticky-bar.is-visible {
        padding: 0px;
    }

    .product-card .badge--on-sale {
        font-size: 12px;
        font-weight: 600;
    }

    .product-card__info .v-stack {
        gap: 4px;
    }

    .mobile_view_rating {
        display: block;
    }
    
    .collection .collection__main .product-list[collection-mobile-layout="medium"] .product-card .product-card__info .swiper.color__swatches_slider .gap-4 {
        gap: 7px;
    }
    /* ******************wishlist*************************** */
    .product-card__figure .wishlist-engine-button .wishlist-icon svg {
        width: 19px;
        height: 17px;
    }

    .product-card__figure .wishlist-engine {
        bottom: -11px;
        left: 86%;
    }

    .product-info__block-item {
        position: relative;
    }

    .product-info__block-item .wishlist-engine.wishlist_icon_pdp {
        position: absolute;
        left: 97%;
        top: -48%;
        /* float: right;  */
        transform: translate(-50%, -50%);
    }

    .product-card__info .v-stack.justify-items-center.gap-2.cstm_height {
        min-height: 80px;
    }

    .rating-badge__stars svg {
        width: 10px;
        height: 10px;
    }
 .mobile_view_rating .rating-badge .rating-badge__stars{
   top: 0.5px;
 }
    .mobile_view_rating .rating-badge {
        margin: 0.5rem 0;
    }

    .section-stack.collection__list_info .section-header.justify-self-center.text-center {
        width: 95%;
    }

    .collection__main product-list[collection-desktop-layout="medium"] .swatches_color_shades_count:has(.swiper-initialized) {
        width: 45%
    }

    .collection__main product-list[collection-mobile-layout="large"] .swatches_color_shades_count:has(.swiper-initialized) {
        width: 30%;
    }

    .product-gallery__image-list {
        width: 100%;
    }

    carousel-navigation.product-gallery__thumbnail-scroller.md\:unbleed {
        display: flex;
        flex-direction: row;
       width: 100vw;;
        gap: 0;
        /* margin: auto; */
    }

    .product .product-gallery {
        gap: 2px;
    }

    button.carousel-navigation_mobile {
        flex: 1;
    }

    .product-gallery__image-list .contents .product-gallery__carousel {
        grid: var(--product-gallery-carousel-grid, auto / auto-flow 100%);
    }
     #insta-feed .instafeed-new-layout-container, #insta-feed .instafeed-new-layout-container .instafeed-new-layout-wrapper .instafeed-new-layout-item {
        height: 100.609px !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {

    .v-stack.gap-0.product_info_detail a,
    .product-info__block-item .product-title,
    #product-offers-offers_AVEWGR .product-offers__item .h6,
    button.button.button--outline.w-full,
    .custom-buy-now-btn.buy__now_it_btn,
    product-recommendations .prose .h2,
    recently-viewed-products .prose .h2,
    .product_button_with-price,
    .cstm_card_design .text-on-sale,
    compare-at-price.text-subdued,
    .product-details-custom .price-custom,
    .categories_heading,
    .section-stack.custom_featured_collection .custom_para_featured_collection,
    .categories_heading h2,
    .collection__list_info .prose .h2,
    .custom_rich_text_design div h2,
    .custom_rich_text_design p.h6,
    span.smallcaps.text-xxs.text-subdued ,
    button.shopify-payment-button__button.shopify-payment-button__button--unbranded:before
  {
        font-family: "Roboto", sans-serif;
    }

    .product-card .badge--on-sale {
        font-weight: 600;
    }

    .product-card__info .swiper-button-next,
    .product-card__info .swiper-button-prev {
        width: 50px !important;
    }

    .product-card__info .swiper-button-next {
        right: -35px !important;
    }

    .product-card__info .swiper-button-prev {
        left: -30px !important;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .categories_img_text p{
    font-size: 11px !important;
  }
  .product .product-gallery {
    position: unset; 
}
.product-card__quick-add-button{
  padding: 11px 14px;
}
  p.product_button_with-price,.cstm_card_design .text-on-sale,compare-at-price.text-subdued {
    font-size: 15px;
}
.featured-collections-carousel__item  .product-list.product-list--carousel.scroll-area{
  --product-list-max-items-per-row-allowed: 2;
}
.left-section {
   max-width: 50% !important;
    }
  .product-card__quick-add-button.add-to-cart-custom{
    padding: 8px 5px !important;
  }
}